extends ../base.pug

block main
  .container.detail
    .detail-body
      .detail-body__article
        .title
            h1 #{article.title}
                  
        p #{article.content}
      div
      .detail-body__photos
        if article.image
          img(src=`http://3.38.105.28${article.image}`, alt="The Photo of Article")
        else
          img(src='https://placehold.co/600x800?text=image', alt='Placehold Image')
    .divider
      hr
    .detail-comment
      h3 전체 댓글 (#{article.comments_count})
      form(method='post' action=`/${article.pk}`)
        textarea(name='content', rows='3', maxlength='1250')
        .detail-comment__btns
          if me
            button(type='submit') 등록
          else
            button(type='submit', disabled) 등록
      .detail-comment_comments
        each comment in comments
          div
            .comment-author
              span #{comment.user}
              span #{comment.created_at}
            p #{comment.content}