extends ../base.pug

block main
  .container.detail
    .detail-body
      .detail-body__article
        .title
            h1 #{article.title}
                  
        p #{article.content}
        
      div
      .detail-body__photos
        if article.image
          img(src=`http://127.0.0.1:8000${article.image}`, alt="The Photo of Article")
        else
          img(src='https://placehold.co/600x800?text=image', alt='Placehold Image')
    if article.result
          table
            thead
              tr
                  th(scope="col") #
                  th(scope="col") 꽃 이름
                  th(scope="col") 확률
            tbody
              - let counter = 1
              each value, key in article.result
                tr
                  th(scope="row")= counter++
                  td=key
                  td #{value}&#37;
    .divider
      hr
    .detail-comment
      h3 전체 댓글 (#{article.comments_count})
      form(method='post' action=`/${article.pk}`)
        textarea(name='content', rows='3', maxlength='1250')
        .detail-comment__btns
          if me
            button(type='submit') 등록
          else
            button(type='submit', disabled) 등록
        if error 
          .error
            span=error
      .detail-comment_comments
        each comment in comments
          div
            .comment-author
              span #{comment.user}
              span #{comment.created_at}
            p #{comment.content}