extends ../base.pug

block main
    .container
        .grid
            if articles
                each article in articles
                    a(href=`/${article.pk}`)
                        article.grid-card
                            if article.image
                                img(src=`http://43.201.247.47${article.image}` alt="The Photo of Article")
                            else
                                img(src='https://placehold.co/600x800?text=image', alt='Placehold Image')
                            div
                                span #{article.title}
                                div
                                span #{article.user}
                                div 
                                    span #{article.created_at}
            else
                h1=error


